# generated 2023-08-11, Mozilla Guideline v5.7, nginx 1.17.7, OpenSSL 1.1.1k, intermediate configuration, no OCSP
# https://ssl-config.mozilla.org/#server=nginx&version=1.17.7&config=intermediate&openssl=1.1.1k&ocsp=false&guideline=5.7
server {
    listen 80;
    listen [::]:80;
    server_name {{ domain }};

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name {{ domain }};

    ssl_certificate {{ssl_cert_path}};
    ssl_certificate_key {{ssl_key_path}};
    ssl_session_timeout 1d;
    ssl_session_cache shared:MozSSL:10m;  # about 40000 sessions
    ssl_session_tickets off;

    ssl_dhparam /etc/ssl/dhparams.pem;

    # intermediate configuration
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305;
    ssl_prefer_server_ciphers off;

    # HSTS (ngx_http_headers_module is required) (63072000 seconds)
    add_header Strict-Transport-Security "max-age=63072000" always;

    # Uptime-Kuma specific
    add_header  Content-Security-Policy   "style-src 'self' 'unsafe-inline'; font-src 'self'; base-uri 'none'; form-action 'self'";
    add_header  X-XSS-Protection          "1; mode=block";
    add_header  X-Content-Type-Options    nosniff;
    add_header  Permissions-Policy        interest-cohort=();
    add_header  Referrer-Policy           no-referrer;
    location / {
      proxy_pass http://127.0.0.1:3001;
      proxy_buffering        on;
      # Websocket support as per https://github.com/louislam/uptime-kuma/wiki/Reverse-Proxy#nginx
      proxy_set_header   X-Real-IP $remote_addr;
      proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header   Host $host;
      proxy_http_version 1.1;
      proxy_set_header   Upgrade $http_upgrade;
      proxy_set_header   Connection "upgrade";
    }
}
